* 
{
    font-family: 'Poppins', sans-serif;
    background: #F2F2F2;
}

*::-webkit-scrollbar {
    display: none;
}

.logo-nav
{
    background: white;
}

.left-navigation
{
    position: fixed;
    width: 279px;
    z-index: 1000000000;
    height: 1080px;
    left: 0px;
    top: 0px;
    border: 1px solid #D4D4D4;

    background: #FFFFFF;
}

.btn-add-blue
{
    border: 0;
    position: absolute;
width: 88px;
height: 39px;
left: 1463px;
top: 45px;

background: #3D7BF4;
border-radius: 5px;
}

.btn-add-blue .add-txt
{
position: absolute;
width: 31px;
height: 23px;
left: 28px;
top: 8px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}

.link-dashboard
{
    background-color: white;
    opacity: 50%;
}

.link-project
{
    background-color: white;
    opacity: 50%;
}

.link-member
{
    background-color: white;
}

.link-dashboard a
{
    background-color: white;

    position: absolute;
    width: 102px;
    height: 27px;
    left: 93px;
    text-decoration: none;
    top: 213px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    align-items: center;

    color: black;

}

.link-project a
{
    position: absolute;
    width: 63px;
    height: 27px;
    left: 91px;
    top: 277px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;

}

.link-member .rentacle
{
    position: absolute;
    width: 6px;
    height: 31px;
    left: 0px;
    top: 338px;

    background: #3D7BF4;
}

.link-dashboard img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 43px;
    top: 213px;
    background: white;
}

.link-project img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 43px;
    top: 278px;
    background: white;
}

.link-project a
{ 
    background-color: white;
    text-decoration: none;
}

.link-member a
{
    background-color: white;
}

.link-member img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 42px;
    top: 339px;
    background: white;
}

.link-member a
{
    position: absolute;
    width: 76px;
    height: 27px;
    left: 92px;
    top: 339px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: black;
}

.header-content
{
    position: fixed;
    z-index: 100000000;
    width: 1640px;
    height: 87px;
    left: 278px;
    top: 0px;
    border: 1px solid #D4D4D4;
    background: #FFFFFF;
}

.header-content h1
{
    position: absolute;
    width: 131px;
    height: 35px;
    left: 25px;
    top: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #222222;background: transparent;
}

.header-content .profile-user
{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1422px;
    top: 26px;
    
    background: #3D7BF4;
    border-radius: 20px;
}

.header-content .name-user
{
    position: absolute;
    width: 88px;
    height: 21px;
    left: 1472px;
    top: 32px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #222222;
    background: transparent;
}

.ic-search img 
{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1202px;
    top: 33px;
    background: transparent;
}

.ic-notify img 
{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1269px;
    top: 33px;
    background: transparent;
}

.ic-messange img
{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1335px;
    top: 33px;
    background: transparent;
}

.card-content-1
{
    position: absolute;
    width: 1571px;
    height: 893px;
    left: 314px;
    top: 155px;
    border: 1px solid #D4D4D4;
    background: #FFFFFF;
    border-radius: 10px;
}

.card-content-2
{
    position: absolute;
    width: 618px;
    height: 457px;
    left: 1270px;
    top: 155px;

    background: #FFFFFF;
    border-radius: 10px;
}

.card-content-3
{
    position: absolute;
    width: 618px;
    height: 402px;
    left: 1270px;
    top: 646px;

    background: #FFFFFF;
    border-radius: 10px;
}

.card-content-1 .header-text
{
    position: absolute;
    width: 99px;
    height: 23px;
    left: 20px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #606060;
    background: transparent;
}

.card-content-2 .header-text
{
    position: absolute;
    width: 70px;
    height: 23px;
    left: 20px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #606060;
    background: transparent;
}

.card-content-3 .header-text
{
    position: absolute;
    width: 106px;
    height: 23px;
    left: 20px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #606060;
    background: transparent;
}

.table-content-1
{
    box-sizing: border-box;

    position: absolute;
    width: 1518px;
    height: 800px;
    left: 23px;
    top: 70px;
    
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    background: transparent;
}

.table-head
{
    position: absolute;
    width: 1518px;
    height: 62px;

    background: rgba(217, 217, 217, 0.34);
}

.table-head .column-head-1
{
    position: absolute;
    width: 206px;
    height: 23px;
    left: 49px;
    top: 19px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    background: transparent;
}

.table-head .column-head-2
{
    position: absolute;
width: 79px;
height: 23px;
left: 511px;
top: 19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
background: transparent;
}

.table-head .column-head-3
{
    position: absolute;
width: 42px;
height: 23px;
left: 887px;
top: 19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
background: transparent;
}

.table-head .column-head-4
{
    position: absolute;
width: 71px;
height: 23px;
left: 1248px;
top: 19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
background: transparent;
}

.table-contents
{
    position: relative;
    width: 1518px;
    height: 62px;
    top: 64px;
    margin: 5PX;

    background:transparent;
}

.table-contents .lin{
    position: absolute;
    width: 1517.02px;
    height: 0px;
    top: 63px;

    border: 1px solid #ececec09;
}

.table-contents .elipse
{
    position: absolute;
width: 36px;
height: 36px;
left: 38px;
top: 12px;

background: #D9D9D9;
border-radius: 50px;
}

.contents-1
{

    position: absolute;
    width: 333px;
    height: 20px;
    left: 85px;
    top: 12px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #2b2b2b;
background: transparent;    
}

.contents-2
{
    position: absolute;
    width: 333px;
    height: 18px;
    left: 85px;
    top: 30px;
    background: transparent;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #797979;
}

.contents-3
{
    position: absolute;
    width: 332px;
    height: 23px;
    left: 511px;
    top: 16px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    background: transparent;
}
    
.contents-4
{
    position: absolute;
    width: 336px;
    height: 23px;
    left: 887px;
    top: 16px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    background: transparent;
}

.contents-5
{
    position: absolute;
    width: 266px;
    height: 23px;
    left: 1248px;
    top: 16px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    background: transparent;
}

.conten-2
{
    position: absolute;
    width: 1581px;
    height: 893px;
    left: 309px;
    top: 155px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    background: #FFFFFF;
    border-radius: 10px;
}

.frame-table
{
    box-sizing: border-box;

    position: absolute;
    width: 1521px;
    height: 762px;
    left: 30px;
    top: 101px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.conten-2 .head-table
{
    box-sizing: border-box;

    position: relative;
    width: 1521px;
    height: 58px;
    left: 0px;
    top: 0px;
    border-radius: 1px;
    
    background: rgba(217, 217, 217, 0.39);
    /* border: 1px solid rgba(0, 0, 0, 0.19); */
}

.conten-2 .fill-table
{
    position: relative;
width: 1499px;
height: 58px;
margin: 10px;
left: 0px;
top: 2px;

background: rgba(217, 217, 217, 0.19);
}

.conten-2 h1
{
    position: absolute;
    width: 99px;
    height: 23px;
    left: 20px;
    top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #606060;
background: transparent;
}

.conten-2 .Name
{
    background: transparent;
    position: absolute;
width: 49px;
height: 24px;
left: 39px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #444444;
}

.conten-2 .Email
{
    background: transparent;
    position: absolute;
width: 45px;
height: 24px;
left: 385px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #444444;
}

.conten-2 .Role
{
    background: transparent;
    position: absolute;
width: 35px;
height: 24px;
left: 727px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #444444;
}

.conten-2 .Joined-at
{
    background: transparent;
    position: absolute;
width: 76px;
height: 24px;
left: 1059px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #444444;
}

.conten-2 .Action
{
    position: absolute;
width: 41px;
height: 24px;
left: 1401px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #444444;
    background: transparent;
}

.fill-table .Name-contents
{
    background: transparent;
    position: absolute;
width: 283px;
height: 24px;
left: 39px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(68, 68, 68, 0.69);

}

.fill-table .Email-contents
{
    background: transparent;
    position: absolute;
width: 271px;
height: 24px;
left: 385px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(68, 68, 68, 0.69);
}

.fill-table .Role-contents
{
    background: transparent;
    position: absolute;
width: 263px;
height: 24px;
left: 727px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(68, 68, 68, 0.69);
}

.fill-table .Joined-at-contents
{
    background: transparent;
    position: absolute;
width: 258px;
height: 24px;
left: 1059px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(68, 68, 68, 0.69);
}

.fill-table .Action-contents
{
    background: transparent;
    box-sizing: border-box;

position: absolute;
width: 79px;
height: 35px;
left: 1387px;
top: 11px;

background: #ffe810;
border: 0;
border: 1px solid rgba(0, 0, 0, 0.19);
border-radius: 5    px;
}

.fill-table .Action-contents .txt 
{
    position: absolute;
width: 35px;
height: 21px;
left: 22px;
top: 5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 100;
font-size: 13px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}