*
{
    background: transparent;
}

* 
{
    font-family: 'Poppins', sans-serif;
    background: #F2F2F2;
}

*::-webkit-scrollbar {
    display: none;
}

.logo-nav
{
    background: white;
}




.button-add h1
{
    background: transparent;
}

.left-navigation
{
    position: fixed;
    width: 279px;
    height: 1080px;
    left: 0px;
    border: 1px solid #D4D4D4;
    top: 0px;
    z-index: 10000000000000000;

    background: #FFFFFF;
}

.link-dashboard
{
    background-color: white;
    opacity: 50%;
}

.link-project
{
    background-color: white;
}

.link-member
{
    background-color: white;
    opacity: 50%;
}

.link-dashboard a
{
    background-color: white;

    position: absolute;
    width: 102px;
    height: 27px;
    left: 93px;
    text-decoration: none;
    top: 213px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    align-items: center;

    color: black;

}

.link-project a
{
    position: absolute;
    width: 63px;
    height: 27px;
    left: 91px;
    top: 277px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;

}

.link-project .rentacle
{
    position: absolute;
    width: 6px;
    height: 31px;
    left: 0px;
    top: 277px;
    
    background: #3D7BF4;
}

.link-dashboard img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 43px;
    top: 213px;
    background: white;
}

.link-project img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 43px;
    top: 278px;
    background: white;
}

.link-project a
{ 
    background-color: white;
    text-decoration: none;
}

.link-member a
{
    background-color: white;
}

.link-member img
{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 42px;
    top: 339px;
    background: white;
}

.link-member a
{
    position: absolute;
    width: 76px;
    height: 27px;
    left: 92px;
    top: 339px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: black;
}

.header-content
{
    position: fixed;
    z-index: 100000000;
    width: 1640px;
    height: 87px;
    border: 1px solid #D4D4D4;
    left: 278px;
    top: 0px;
    
    background: #FFFFFF;
}

.header-content h1
{
    position: absolute;
    width: 131px;
    height: 35px;
    left: 25px;
    top: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #222222;background: transparent;
}

.card-detail-1
{
    box-sizing: border-box;

    position: absolute;
    width: 1581px;
    height: 306px;
    left: 309px;
    top: 155px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card-detail-2
{
    box-sizing: border-box;

position: absolute;
width: 1581px;
height: 559px;
left: 309px;
top: 491px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.19);
border-radius: 10px;
}

.table-container-1
{
    box-sizing: border-box;

    position: absolute;
    width: 1521px;
    height: 200px;
    left: 30px;
    top: 76px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.table-container-2
{
    box-sizing: border-box;

position: absolute;
width: 1521px;
height: 451px;
left: 30px;
top: 78px;
background: transparent;

border: 1px solid rgba(0, 0, 0, 0.19);
border-radius: 5px;
}

.header-card-1
{
    background: transparent;
    position: absolute;
width: 119px;
height: 23px;
left: 20px;
top: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

color: #606060;
}

.header-card-2
{
    background: transparent;
    position: absolute;
width: 92px;
height: 23px;
left: 20px;
top: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

color: #606060;
}

.back-header
{
    position: absolute;
width: 131px;
height: 199px;
left: 0px;
top: 1px;

background: rgba(0, 0, 0, 0.03);
}

.table-container-1 .Name
{
    position: absolute;
    width: 69px;
    height: 23px;
    left: 15px;
    top: 18px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    background: transparent;
    
    color: #606060;
    

}

/* //////////////////////////////////// */
.table-container-1 .Timespan
{
    position: absolute;
    width: 97px;
    height: 23px;
    left: 15px;
    top: 47px;
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #606060;
}
.table-container-1 .Description
{
    background: transparent;
    position: absolute;
    width: 103px;
    height: 23px;
    background: transparent;
    left: 15px;
    top: 75px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #606060;
}

.fill-container .Name
{
    background: transparent;
    position: absolute;
    width: 185px;
    height: 23px;
    left: 16px;
    top: 16px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: rgba(96, 96, 96, 0.79);
}

.fill-container .Timespan
{
    background: transparent;
    position: absolute;
    width: 582px;
    height: 23px;
    left: 15px;
    top: 45px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: rgba(96, 96, 96, 0.79);
}

.fill-container .Description
{
    position: absolute;
    width: 1186px;
    height: 92px;
    left: 15px;
    top: 74px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    
    color: rgba(96, 96, 96, 0.79);
}

.fill-container
{
    position: absolute;
    width: 1388px;
    height: 198px;
    left: 133px;
    top: 2px;
    background: rgba(0, 0, 0, 0);
}

/* //////////////////////////////////////// */

.table-container-2
{
    position: absolute;
    width: 1521px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: #F3F3F3;
}

.fill-table-2
{
    position: relative;
    width: 1521px;
    height: 56px;
    left: 0px;
    top: 62px;

background: #766f6f00;
}

.table-container-2 .Name
{
    background: transparent;
    position: absolute;
width: 46px;
height: 23px;
left: 56px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Description
{
    background: transparent;
    position: absolute;
width: 85px;
height: 23px;
left: 248px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Status
{
    background: transparent;
    position: absolute;
width: 48px;
height: 23px;
left: 479px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Time-Needed
{
    background: transparent;
    position: absolute;
width: 100px;
height: 23px;
left: 673px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Done-Date

{
    background: transparent;
    position: absolute;
width: 79px;
height: 23px;
left: 919px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Assigner
{
    background: transparent;
    position: absolute;
width: 65px;
height: 23px;
left: 1144px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}
.table-container-2 .Assignee
{
    background: transparent;
    position: absolute;
width: 68px;
height: 23px;
left: 1355px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.table-pembungkus
{
    
box-sizing: border-box;

position: absolute;
width: 1521px;
height: 451px;
left: 30px;
top: 78px;

border: 1px solid rgba(0, 0, 0, 0.19);
border-radius: 5px;
background: transparent;
}

.fill-table-2 .Name
{
    background: transparent;
    position: absolute;
width: 169px;
height: 23px;
left: 56px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Description
{
    background: transparent;
    position: absolute;
width: 215px;
height: 23px;
left: 248px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Status
{
    background: transparent;
    position: absolute;
width: 181px;
height: 23px;
left: 479px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Time-Needed
{
    background: transparent;
    position: absolute;
width: 234px;
height: 23px;
left: 673px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Done-Date
{
    background: transparent;
    position: absolute;
width: 215px;
height: 23px;
left: 919px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Assigner
{
    background: transparent;
    position: absolute;
width: 190px;
height: 23px;
left: 1144px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.fill-table-2 .Assignee
{
    background: transparent;
    position: absolute;
width: 154px;
height: 23px;
left: 1355px;
top: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #606060;
}

.button-add
{
    position: absolute;
width: 88px;
height: 39px;
left: 1463px;
top: 27px;

background: #3D7BF4;
border-radius: 5px;
border: 0;
}

.button-add h1
{
    position: absolute;
    width: 31px;
    height: 23px;
    left: 28px;
    top: 8px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
    }